#memo-list-page {
    overflow-y: scroll;    
    overflow-x: hidden; 
}

#empty-list-placeholder { 
    width: 100%;
    height: 100%;
    color: var(--contrast-color);
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}

#empty-list-placeholder.no-show {
    visibility: hidden;
    height: 0;
}

.memo {
    overflow: hidden;
    background-color: white;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0px 17px 20px -15px black;
    text-align: center;
    word-break: break-all;
    animation: all 1s;
}

.memo:not(:last-child) {
    margin-bottom: 20px;
}

.memo-info {
    padding: 15px;
    padding-bottom: 0;    
    background-color: var(--bg-color);
}

.title {
    font-size: larger;
    font-weight: 700;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--line-color);
}

.date-time {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

[data-prefix]::before {
    content: attr(data-prefix);
    font-weight: bold;
}

[data-prefix] {
    font-size: calc(var(--std-text-size) * .9);
}


.notes {
    text-align: justify;
    font-size: calc(var(--std-text-size) * .9);
    padding: 10px;
    padding-top: 0;
    line-height: 1.3;
    /* background-color: rgb(255, 255, 255, .1); TODO*/
    word-break: break-word;
    word-spacing: 1px;
}

.memo-btn-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    height: calc(var(--viewport-height-one) * 8);
    background-color: var(--bg-color);
    padding-top: calc(var(--viewport-height-one) * .8);
    padding-bottom: calc(var(--viewport-height-one) * .8);
    
}

.memo-btn-bar > button {
    background-color: inherit;
    border: none;
    width: 100%;
    font-weight: 600;
    transition: all .2s;
}

.memo-btn-bar > button:active {
    transform: scale3d(.95, .95, 1);
}

.edit {
    color: var(--success-color);
}

.delete {
    color: var(--error-color);
}

.fade {
    animation: fade-out 2s;
    overflow: hidden; 
}

@keyframes fade-out {
    20% {
        transform: scale(.8);
    }
    100% { 
        transform: scale(.8) translateX(150vw);
    }
}

#delete-confirm-modal {
    top: var(--page-title-height);
    height: calc(var(--viewport-height-one) * 100 - var(--page-title-height));
}

#delete-confirm-text-ctn {
    background: var(--bg-color);
    color: var(--text-color);
    width: 300px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.delete-confirm-text {
    padding: var(--padding-page);
    padding-bottom: 0;
    text-align: center;
}

#delete-confirm-title {
    font-weight: bold;
    margin-top: calc( var(--padding-page) / 3 );
}